# object files
**/obj/*


# bin and lib directories
lib/
bin/

# images
icons/

# third libraries
gmock/
gtest/
mysql/
market-data/

# Qt files
view/build-pricer-Desktop_Qt_5_9_1_GCC_64bit-Release/
view/build-pricer-Desktop_Qt_5_9_1_GCC_64bit-Debug/
view/build-pricer-Desktop_Qt_5_9_1_MinGW_32bit-Debug/
view/build-pricer-Desktop_Qt_5_9_1_MinGW_32bit-Release/
view/pricer/pricer.pro.user

ildcard
